@media (min-width: 320px) { 
    .home-cont{
        background-color: black;
        color: yellow;
    }
    .sec1{
        display: flex;
        align-items: center;
        height: 90vh;
    }
    .span{
        color: yellow;
    }
    .sec1-text{
        width: 200%;
        height: 50vh;
        color: whitesmoke;
        padding-left: 3%;
        animation: abcd 18s infinite;
    }
    .sec1 button{
        background-color: yellow;
        border-style: double;
        border-radius: 10%;
        color: black;
        width: 90%;
        height: 15%;
    }
    .rounded-circle{
        width: 100%;
    }
}


@media (min-width: 376px) { 
    .home-cont{
        background-color: black;
        color: yellow;
    }
    .sec1{
        display: flex;
        align-items: center;
        height: 90vh;
    }
    .span{
        color: yellow;
    }
    .sec1-text{
        width: 100%;
        height: 50vh;
        color: whitesmoke;
        padding-left: 3%;
        animation: abcd 18s infinite;
    }
    .sec1 button{
        background-color: yellow;
        border-style: double;
        border-radius: 10%;
        color: black;
        width: 90%;
        height: 15%;
    }
    .rounded-circle{
        width: 99%;
    }
}


@media (min-width: 420px) { 
    .home-cont{
        background-color: black;
        color: yellow;
    }
    .sec1{
        display: flex;
        align-items: center;
        height: 90vh;
    }
    .span{
        color: yellow;
    }
    .sec1-text{
        width: 100%;
        height: 50vh;
        color: whitesmoke;
        padding-left: 3%;
        animation: abcd 18s infinite;
    }
    .sec1 button{
        background-color: yellow;
        border-style: double;
        border-radius: 10%;
        color: black;
        width: 90%;
        height: 15%;
    }
    .rounded-circle{
        width: 99%;
    }
}


@media (min-width: 476px) { 
    .home-cont{
        background-color: black;
        color: yellow;
    }
    .sec1{
        display: flex;
        align-items: center;
        height: 90vh;
    }
    .span{
        color: yellow;
    }
    .sec1-text{
        width: 80%;
        height: 50vh;
        color: whitesmoke;
        padding-left: 3%;
        animation: abcd 18s infinite;
    }
    .sec1 button{
        background-color: yellow;
        border-style: double;
        border-radius: 10%;
        color: black;
        width: 90%;
        height: 15%;
    }
    .rounded-circle{
        width: 90%;
    }
}


@media (min-width: 576px) { 
    .home-cont{
        background-color: black;
        color: yellow;
    }
    .sec1{
        display: flex;
        align-items: center;
        height: 90vh;
    }
    .span{
        color: yellow;
    }
    .sec1-text{
        width: 50%;
        height: 50vh;
        color: whitesmoke;
        padding-left: 3%;
        animation: abcd 18s infinite;
    }
    .sec1 button{
        background-color: yellow;
        border-style: double;
        border-radius: 10%;
        color: black;
        width: 90%;
        height: 15%;
    }
    .rounded-circle{
        width: 90%;
    }
}


@media (min-width: 768px) { 
    .home-cont{
        background-color: black;
    }
    .sec1{
        display: flex;
        align-items: center;
        height: 90vh;
    }
    .span{
        color: yellow;
    }
    .sec1-text{
        width: 50%;
        height: 50vh;
        color: whitesmoke;
        padding-left: 10%;
        animation: abcd 18s infinite;
    }
    .sec1 button{
        background-color: yellow;
        border-style: double;
        border-radius: 10%;
        color: black;
        width: 30%;
        height: 15%;
    }
    .rounded-circle{
        width: 99%;
        margin-left: 5%;
    }
}


@media (min-width: 900px) { 
    .home-cont{
        background-color: black;
    }
    .sec1{
        display: flex;
        align-items: center;
        height: 90vh;
    }
    .span{
        color: yellow;
    }
    .sec1-text{
        width: 50%;
        height: 50vh;
        color: whitesmoke;
        padding-left: 10%;
        animation: abcd 18s infinite;
    }
    .sec1 button{
        background-color: yellow;
        border-style: double;
        border-radius: 10%;
        color: black;
        width: 30%;
        height: 15%;
    }
    .rounded-circle{
        width: 99%;
        margin-left: 5%;
    }
}


@media (min-width: 1200px) { 
    .home-cont{
        background-color: black;
    }
    .sec1{
        display: flex;
        align-items: center;
        height: 90vh;
    }
    .span{
        color: yellow;
    }
    .sec1-text{
        width: 50%;
        height: 50vh;
        color: whitesmoke;
        padding-left: 10%;
        animation: abcd 18s infinite;
    }
    .sec1 button{
        background-color: yellow;
        border-style: double;
        border-radius: 10%;
        color: black;
        width: 30%;
        height: 15%;
    }
    .rounded-circle{
        width: 99%;
        margin-left: 5%;
    }
}


@media (min-width: 1400px) { 
    .home-cont{
        background-color: black;
    }
    .sec1{
        display: flex;
        align-items: center;
        height: 90vh;
    }
    .span{
        color: yellow;
    }
    .sec1-text{
        width: 50%;
        height: 50vh;
        color: whitesmoke;
        padding-left: 10%;
        animation: abcd 18s infinite;
    }
    .sec1 button{
        background-color: yellow;
        border-style: double;
        border-radius: 10%;
        color: black;
        width: 30%;
        height: 15%;
    }
    .rounded-circle{
        width: 99%;
        margin-left: 5%;
    }
}