@media (min-width: 320px) { 
    .prject-overall{
        background-color: black;
        color: yellow;
    }
    .project{
        text-align: center;
    }
    .links{
        display: block;
        text-align: center;
    }
    .links a{
        text-decoration: none;
        color: yellow;
        margin-top: 5%;
        margin-left: 5%;
    }
    .huddle{
        width: 60%;
        height: 60%;
    }
    .kudi{
        width: 60%;
        height: 60%;
    }
    .rugwatrs{
        width: 60%;
        height: 60%;
    }
    .name{
        display: flex;
        text-align: center;
        margin-bottom: 5%;
    }
    .name a{
        text-decoration: none;
        color: yellow;
        margin-top: 5%;
        margin-left: 5%;
    }
    .counter{
        width: 60%;
        height: 60%;
    }
}


@media (min-width: 376px) { 
    .prject-overall{
        background-color: black;
        color: yellow;
    }
    .project{
        text-align: center;
    }
    .links{
        display: block;
        text-align: center;
    }
    .links a{
        text-decoration: none;
        color: yellow;
        margin-top: 5%;
        margin-left: 5%;
    }
    .huddle{
        width: 60%;
        height: 60%;
    }
    .kudi{
        width: 60%;
        height: 60%;
    }
    .rugwatrs{
        width: 60%;
        height: 60%;
    }
    .name{
        display: flex;
        text-align: center;
        margin-bottom: 5%;
    }
    .name a{
        text-decoration: none;
        color: yellow;
        margin-top: 5%;
        margin-left: 5%;
    }
    .counter{
        width: 60%;
        height: 60%;
    }
}


@media (min-width: 420px) { 
    .prject-overall{
        background-color: black;
        color: yellow;
    }
    .project{
        text-align: center;
    }
    .links{
        display: block;
        text-align: center;
    }
    .links a{
        text-decoration: none;
        color: yellow;
        margin-top: 5%;
        margin-left: 5%;
    }
    .huddle{
        width: 60%;
        height: 60%;
    }
    .kudi{
        width: 60%;
        height: 60%;
    }
    .rugwatrs{
        width: 60%;
        height: 60%;
    }
    .name{
        display: flex;
        text-align: center;
        margin-bottom: 5%;
    }
    .name a{
        text-decoration: none;
        color: yellow;
        margin-top: 5%;
        margin-left: 5%;
    }
    .counter{
        width: 60%;
        height: 60%;
    }
}


@media (min-width: 476px) { 
    .prject-overall{
        background-color: black;
        color: yellow;
    }
    .project{
        text-align: center;
    }
    .links{
        display: block;
        text-align: center;
    }
    .links a{
        text-decoration: none;
        color: yellow;
        margin-top: 5%;
        margin-left: 5%;
    }
    .huddle{
        width: 60%;
        height: 60%;
    }
    .kudi{
        width: 60%;
        height: 60%;
    }
    .rugwatrs{
        width: 60%;
        height: 60%;
    }
    .name{
        display: flex;
        text-align: center;
        margin-bottom: 5%;
    }
    .name a{
        text-decoration: none;
        color: yellow;
        margin-top: 5%;
        margin-left: 5%;
    }
    .counter{
        width: 60%;
        height: 60%;
    }
}


@media (min-width: 576px) { 
    .prject-overall{
        background-color: black;
        color: yellow;
    }
    .project{
        text-align: center;
    }
    .links{
        display: block;
        text-align: center;
    }
    .links a{
        text-decoration: none;
        color: yellow;
        margin-top: 5%;
        margin-left: 5%;
    }
    .huddle{
        width: 60%;
        height: 60%;
    }
    .kudi{
        width: 60%;
        height: 60%;
    }
    .rugwatrs{
        width: 60%;
        height: 60%;
    }
    .name{
        display: flex;
        text-align: center;
        margin-bottom: 5%;
    }
    .name a{
        text-decoration: none;
        color: yellow;
        margin-top: 5%;
        margin-left: 5%;
    }
    .counter{
        width: 60%;
        height: 60%;
    }
}


@media (min-width: 768px) { 
    .prject-overall{
        background-color: black;
        color: yellow;
    }
    .project{
        text-align: center;
    }
    .links{
        display: block;
        text-align: center;
    }
    .links a{
        text-decoration: none;
        color: yellow;
        margin-top: 5%;
        margin-left: 5%;
    }
    .huddle{
        width: 60%;
        height: 60%;
    }
    .kudi{
        width: 60%;
        height: 60%;
    }
    .rugwatrs{
        width: 60%;
        height: 60%;
    }
    .name{
        display: flex;
        text-align: center;
        margin-bottom: 5%;
    }
    .name a{
        text-decoration: none;
        color: yellow;
        margin-top: 5%;
        margin-left: 5%;
    }
    .counter{
        width: 60%;
        height: 60%;
    }
}


@media (min-width: 900px) { 
    .prject-overall{
        background-color: black;
        color: yellow;
    }
    .project{
        text-align: center;
    }
    .links{
        display: flex;
        margin-left: 10%;
        text-align: left;
    }
    .links a{
        text-decoration: none;
        color: yellow;
        margin-top: 5%;
        margin-left: 5%;
    }
    .huddle{
        width: 60%;
        height: 60%;
    }
    .kudi{
        width: 60%;
        height: 60%;
    }
    .rugwatrs{
        width: 60%;
        height: 60%;
    }
    .name{
        display: flex;
        margin-left: 10%;
        text-align: left;
        margin-bottom: 5%;
    }
    .name a{
        text-decoration: none;
        color: yellow;
        margin-top: 5%;
        margin-left: 5%;
    }
    .counter{
        width: 40%;
        height: 60%;
    }
}


@media (min-width: 1200px) { 
    .prject-overall{
        background-color: black;
        color: yellow;
    }
    .project{
        text-align: center;
    }
    .links{
        display: flex;
        margin-left: 10%;
        text-align: left;
    }
    .links a{
        text-decoration: none;
        color: yellow;
        margin-top: 5%;
        margin-left: 5%;
    }
    .huddle{
        width: 60%;
        height: 60%;
    }
    .kudi{
        width: 60%;
        height: 60%;
    }
    .rugwatrs{
        width: 60%;
        height: 60%;
    }
    .name{
        display: flex;
        margin-left: 10%;
        text-align: left;
        margin-bottom: 5%;
    }
    .name a{
        text-decoration: none;
        color: yellow;
        margin-top: 5%;
        margin-left: 5%;
    }
    .counter{
        width: 40%;
        height: 60%;
    }
}


@media (min-width: 1400px) { 
    .prject-overall{
        background-color: black;
        color: yellow;
    }
    .project{
        text-align: center;
    }
    .links{
        display: flex;
        margin-left: 10%;
        text-align: left;
    }
    .links a{
        text-decoration: none;
        color: yellow;
        margin-top: 5%;
        margin-left: 5%;
    }
    .huddle{
        width: 60%;
        height: 60%;
    }
    .kudi{
        width: 60%;
        height: 60%;
    }
    .rugwatrs{
        width: 60%;
        height: 60%;
    }
    .name{
        display: flex;
        margin-left: 10%;
        text-align: left;
        margin-bottom: 5%;
    }
    .name a{
        text-decoration: none;
        color: yellow;
        margin-top: 5%;
        margin-left: 5%;
    }
    .counter{
        width: 40%;
        height: 60%;
    }
}